/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
.subhead{
    display: flex;
    gap: 25px;
}
.tabs{
    color: white;
    text-decoration: none;
}