.hr__questions {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

.individual {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    margin: 16px 56px;
    align-items: center;
    justify-content: center;
}
.individual b{
    color: limegreen;
    cursor: pointer;
}
.individual .question_id {
    color: rgb(9, 43, 78);
    width: 90%;
    margin: 10px;
    background: #f5f5f5;
    text-align: left;
    padding: 15px;
}
.expandable{
    background-color: white;
    color: rgb(9, 6, 1);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 45px;
    text-align: left;
}

.yourans{
    background-color: white;
    color: rgb(9, 6, 1);
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 45px;
    text-align: left;
}
.subbtn{
    background-color: rgb(9, 43, 78);
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    margin: 0 45px;
}
