.interview__content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resume__upload {
    margin: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start__interview {
    width: 50%;
}
.start__interview button {
    width: 40%;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}